#board,#rollout{
    margin:auto;
    text-align: center;
    border:3px solid black;
    font-family: Arial;
    font-size: 27px;
    color: rgb(95, 92, 92);
}
#board,#rollout{
    border-spacing:0;
    border:3px solid black; 
}

#board td{
    border:1px solid rgba(95, 93, 93, 0.918);
    width:60px;
    height:60px;
}
#board td:first-child{
    border-left-color: black;
}

#board td:nth-child(3n){
    border-right-color: black;
    border-right-width:2px;
}
#board tr:nth-child(3n) td {
	border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 2px;
}

#rollout td{
    border:1px solid rgb(0, 0, 0);
    width:60px;
    height:60px;

}
#rollout{
    margin-top: 30px;
    border:1px solid black; 
}


#board{
    margin-top: 100px;

}

.user-input{
    background-color: #f2f2f2;
}
.error{
    background-color: #f76c5e;
}

.navbar-nav > li{
    padding-left:30px;
  }


#sp{
    padding-left:30px;
}

.table{
    width: 65%;
    height: 65%;
    margin:auto;
    text-align: center;
    border-color:rgb(255, 255, 255);
}



